/*
Error: Invalid CSS after "...gba(0,0,0,0.23)": expected "{", was ";"
        on line 112 of style.scss

107: //main button
108: 
109: .blue {
110:   border-radius: 9px;
111:   background-color: rgb(80,197,218);
112:   box-shadow: 0 2px 2px 0; rgba(0,0,0,0.23);
113:   width: 401px;
114:   height: 201px;
115: }
116: 
117: .blue p, h3 {

Backtrace:
style.scss:112
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1179:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1115:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1110:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:654:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:674:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:655:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:647:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:673:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:123:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:39:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:403:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:82:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:359:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...gba(0,0,0,0.23)\": expected \"{\", was \";\"\A         on line 112 of style.scss\A \A 107: //main button\A 108: \A 109: .blue {\A 110:   border-radius: 9px;\A 111:   background-color: rgb(80,197,218);\A 112:   box-shadow: 0 2px 2px 0; rgba(0,0,0,0.23);\A 113:   width: 401px;\A 114:   height: 201px;\A 115: }\A 116: \A 117: .blue p, h3 {"; }
