* {
  font-family: 'Raleway', sans-serif;
}

.vl {
  border-left: 1px solid lightgrey;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1%;
}

.col-md-12 {
  border: 2px solid blue;
}